page-home {
    ion-card{
        height: 100%;
        width: 100%;
       
    }


}
ion-content{
    background-image: url("../../assets/imgs/download\ \(1\).jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;

    .oval{
        width: 100%;
    height: 100%;
    background-image: url(../../assets/imgs/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
    }
}